<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>etdhomecategories</name>
    <displayName><![CDATA[ETD Cat&eacute;gories d&#039;accueil]]></displayName>
    <version><![CDATA[1.0]]></version>
    <description><![CDATA[Ajoute une grille avec les cat&eacute;gories de page d&#039;accueil]]></description>
    <author><![CDATA[ETD Solutions]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>